.article-page-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  text-align: left;
}

.article-page-metadata-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
